<form>
    <input type="hidden" name="id" id="id" [(ngModel)]="item.id">
    <input type="text" name="name" id="name" placeholder="Nome" [(ngModel)]="item.name">
    <br>
    <input type="number" name="price" id="price" placeholder="Preço" [(ngModel)]="item.price">
    <br>
    <textarea name="description" id="description" placeholder="Descrição" [(ngModel)]="item.description" ></textarea>
    <br>
    <input type="checkbox" name="active" id="active" [(ngModel)]="item.active">
    <label>Ativo</label>
    <br>
    <a routerLink="/produtos">Cancelar</a>
    <button type="button" (click)="save()">Salvar</button>
</form>
